{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <div class="content-center">
        <main>
            <div style="text-align: left; max-width: 600px; margin: 0 auto;">
                <p style="font-size: 4rem; font-weight: bold; line-height: 1.3; margin-bottom: 2em;">
                    Your Agents will break.<br>
                    We make sure it happens<br>
                    on your own terms!
                </p>

                <p style="font-size: 2rem; font-weight: bold; line-height: 1.2; margin-bottom: 0.3em;">
                    Malleo
                </p>
                <p style="font-size: 1.3rem; line-height: 1.4;">
                    Hardening Your AI by breaking it first<br>
                    using Adversarial Testing and<br>
                    Automated Cognitive Red Teaming.
                </p>

                {{- with .Site.Params.social }}
                    <div style="margin-top: 2em;">
                        {{ partial "social-icons.html" . }}
                    </div>
                {{- end }}
            </div>
        </main>
    </div>
{{ end }}
